.box{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    /* box-shadow: 0 0 0 2px; */
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

/* remove border for edges */
.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
	border-top: none;
}

.box:nth-child(1), .box:nth-child(4), .box:nth-child(7){
    border-left: none;
}

.box:nth-child(3), .box:nth-child(6), .box:nth-child(9) {
	border-right: none;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9) {
	border-bottom: none;
}

#gameContainer{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color:#34a523;
    /* background-color: rgb(201, 85, 8); */
    width: 600px;
    height: 600px;
    margin: 0 auto;
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 2px;
}

#boxContainer{
    display: grid;
    background-color: white;
    color: black;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#resetButton{
    border-radius: 10px;
    font-size: 1rem;
    border: 1px solid var(--color-set);
    padding: .25em .5em;
    cursor: pointer;
    background-color: rgb(226, 53, 232);
    color: white;
    border-color: white;
}
